#a{
    height: 129px;
    color: cadetblue;
    
}
 li{
    list-style-type: none;
    float:right;
    padding: 20px 20px 20px 10px ;
    font-size:large;
    
 }
 body{
    background-image: url(online.jpeg);
    background-repeat: no-repeat;
    background-size:100%;
 }